.contaner{
    text-align: center;
    background: rgb(238, 6, 176);
    padding: 30px;
    /* width: 100%; */
    margin: 40px;
    color: rgb(247, 235, 7);
}
button{
    margin-top: 10px;
    color: rgb(252, 249, 249);
background-color: red;
}
input{
    margin-top: 10px;
}